<div class="editBlock">
    <textarea id="editTextArea{{id}}" name="content">
        {{messageText}}
    </textarea><br />
    <button class="btn btn-mini btn-primary buttonBigger" type="button">Make bigger</button>&nbsp;
    <button class="btn btn-mini btn-danger buttonCancel" type="button">Cancel</button>&nbsp;
    <button class="btn btn-mini btn-primary buttonSave" type="button">Save</button>
    <div style="margin-bottom: 5px; margin-right:15px; float:right;">
        <button class="btn btn-mini btn-info buttonFullMode" type="button" data-toggle="button">Full mode</button>
    </div>
</div>