<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821"/>
  </configSections>

  <!-- Log4net Logging Setup -->
  <log4net>
    <appender name="FileAppender1" type="log4net.Appender.FileAppender,log4net">
      <file value="c:\\temp\\Server_ReadCANBus.txt"/>
      <appendToFile value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>

    <appender name="FileAppender2" type="log4net.Appender.FileAppender,log4net">
      <file value="c:\\temp\\Server_ReadClientt14Lab.MessageTree.Connectors_ReciveMessage.txt"/>
      <appendToFile value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>

    <appender name="FileAppender3" type="log4net.Appender.FileAppender,log4net">
      <file value="c:\\temp\\Server_ReadClientt14Lab.MessageTree.Connectors_EnqueueMessage.txt"/>
      <appendToFile value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>

    <appender name="FileAppender4" type="log4net.Appender.FileAppender,log4net">
      <file value="c:\\temp\\Server_SendMessageToClient.txt"/>
      <appendToFile value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>

    <appender name="FileAppender5" type="log4net.Appender.FileAppender,log4net">
      <file value="c:\\temp\\Server_ReadClientt14Lab.MessageTree.Connectors_SendMessageToCANBus.txt"/>
      <appendToFile value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>

    <appender name="FileAppender6" type="log4net.Appender.FileAppender,log4net">
      <file value="c:\\temp\\ServerLog6.txt"/>
      <appendToFile value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="ALL"/>
      <appender-ref ref="FileAppender1"/>
    </root>

    <logger additivity="false" name="FileAppender2">
      <level value="ALL"/>
      <appender-ref ref="FileAppender2" />
    </logger>

    <logger additivity="false" name="FileAppender3">
      <level value="ALL"/>
      <appender-ref ref="FileAppender3" />
    </logger>

    <logger additivity="false" name="FileAppender4">
      <level value="ALL"/>
      <appender-ref ref="FileAppender4" />
    </logger>

    <logger additivity="false" name="FileAppender5">
      <level value="ALL"/>
      <appender-ref ref="FileAppender5" />
    </logger>

    <logger additivity="false" name="FileAppender6">
      <level value="ALL"/>
      <appender-ref ref="FileAppender6" />
    </logger>

  </log4net>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>